@import 'styles';

.root {
  @extend %flex-center-vertical;

  gap: 8px;

  &.isLg {
    .input {
      font-size: 28px;
      border-radius: 8px;
    }

    .icon {
      width: 48px;
      height: 48px;
    }
  }
}

.input {
  outline: none;
  border: 0;
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-family-primary);
  padding: 0 4px;
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}