%flex-center-vertical {
  display: flex;
  align-items: center;
}

%flex-center-horizontal {
  display: flex;
  justify-content: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%text-sm {
  font-size: var(--font-size-sm);
  line-height: 1.428;
}

%text-md {
  font-size: var(--font-size-md);
  line-height: 1.5;
}

%text-lg {
  font-size: var(--font-size-lg);
  line-height: 1.55;
}