%flex-center-vertical {
  display: flex;
  align-items: center;
}

%flex-center-horizontal {
  display: flex;
  justify-content: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}