@import 'styles';

.eventTitle {
  @extend %text-social-event-title;

  display: inline;
}

.dateTime {
  display: flex;
  gap: 16px;
  margin: 28px 0;

  .date,
  .time {
    width: 50%;
  }
}

.capacityCostArea {
  display: flex;
  margin-top: 12px;
  gap: 36px;
}