@import 'styles';

.root {
  min-height: 100vh;
  background: linear-gradient(138.11deg, var(--cl-yellow) 0%, var(--cl-purple) 121.92%);
  padding: 0 16px 64px;
}

.hero {
  display: flex;
  margin-top: 80px;
  gap: 20px;

  @include mediaquery-tb() {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}

.form {
  flex: 1;
}

.btnAddBanner {
  @extend %flex-center;

  cursor: pointer;
  max-width: 739px;
  width: 100%;
  height: 445px;
  border-radius: 0px 64px;
  border: 1px dashed var(--cl-white);
  color: var(--cl-dark-blue);
  font-weight: 600;
  background-color: rgba(242, 242, 242, 0.1);
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 24px;
    margin-right: 16px;
  }
}

.formLower {
  width: 100%;
  max-width: 640px;
}

.descriptionFormField {
  margin-bottom: 32px;

  p {
    @extend %text-sm;

    font-weight: 500;
    margin-bottom: 6px;
  }
}

.btnCreate {
  width: 100%;
}